<style>

	.pxcmb-wrap {
		position: relative;
	}

	.pxcmb-search input {
		width: 100%;
		box-sizing: border-box;
	}

	.pxcmb-search label {
		position: absolute;
		z-index: 1;
		top: 2px;
		right: 5px;
		cursor: pointer;
	}

	.pxcmb-combo-wrap {
		position: absolute;
		top: 100%;
		left: 0;
		right: 0;
		border: 1px solid black;
		background-color: white;
		z-index: 100;
	}

	.pxcmb-combo-wrap.pxcmb-list {
		position: static;
	}

	.pxcmb-combo-wrap > div {
		cursor: pointer;
	}

	.pxcmb-combo-wrap > div:hover {
		background-color: #ccc;
	}

	.pxcmb-combo-opt {
		display: inline-block;
		width: 100%;
		box-sizing: border-box;
	}

	.pxcmb-highlighted {
		background-color: gray;
	}

</style>

<div class="pxcmb-wrap">
	<div class="pxcmb-search">
		<input type="text" placeholder="{{ctrl.searchPlaceHolder}}" ng-model="ctrl.search.text"
		       ng-click="ctrl.showOpts = !ctrl.showOpts;" ng-change="ctrl.searchChange()"
		       ng-keyup="ctrl.searchKeyUp($event)">
		<label ng-if="ctrl.listmode !== 'true'" ng-click="ctrl.showOpts = !ctrl.showOpts;">v</label>
	</div>
	<div ng-class="['pxcmb-combo-wrap', {'pxcmb-list': ctrl.listmode === 'true'}]" ng-show="ctrl.isOpen()">
		<div ng-repeat="i in ctrl.items | filter:ctrl.search track by $index" ng-click="ctrl.select($event,i)"
		     ng-class="{'pxcmb-highlighted': $index === ctrl.highlightedIdx}">
			<label class="pxcmb-combo-opt"><input type="checkbox" ng-if="ctrl.isMulti()" ng-checked="ctrl.selected.indexOf(i.id) >= 0">{{i.text}}</label>
		</div>
	</div>
</div>
